{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Lead - Details{% endblock %}

{% block vendor_css %}
    {{ block.super }}
{#    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">#}
    <link href="{% static 'dropzone.css' %}" rel="stylesheet">
{% endblock vendor_css %}

{% block vendor_js %}
    {{ block.super }}
{% endblock vendor_js %}

{% block page_js %}
    {{ block.super }}
{#    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>#}
{#    <script type="text/javascript">#}
{#    $(document).ready(function() {#}
{#    $('#summernote').summernote({#}
{#    placeholder: '',#}
{#    tabsize: 2,#}
{#    name:'description',#}
{#    height: 100,#}
{#    toolbar: [#}
{#                  ['style', ['style']],#}
{#                  ['font', ['bold', 'underline', 'clear']],#}
{#                  ['color', ['color']],#}
{#                  ['para', ['ul', 'ol', 'paragraph']],#}
{#                  ['table', ['table']],#}
{#                  ['insert', ['link', 'picture', 'video']],#}
{#                  ['view', ['fullscreen', 'codeview', 'help']]#}
{#                ]#}
{#              });#}
{#        });#}
{#    </script>#}
    <script src="{% static 'dropzone.js' %}"></script>
    <script src="{% static 'forms-file-upload.js' %}"></script>

{% endblock page_js %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="head-label text-center">
                <h5 class="card-title mb-0">Lead Details</h5>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center gap-2">
                <div>{% timestamp_format data.created_at %}</div>
                <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#addActivity">
                Add Activity
                </button>
                <a href="{% url 'send_email' model='leads' pk=data.id %}" class="btn btn-primary waves-effect waves-light">
                    Send Email
                </a>
            </div>

        </div>
        <div class="card-body">
            <form method="POST" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 py-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email"
                               placeholder="Please Enter Email"
                               name="email"
                               required
                               value="{{ data.email }}"
                        >
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone"
                               placeholder="Please Enter Phone with Country code"
                               name="phone"
                               required
                               value="{{ data.phone }}"
                        >
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName"
                               placeholder="Please Enter First Name"
                               name="first_name"
                               required
                               value="{{ data.first_name }}"
                        >
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName"
                               placeholder="Please Enter Last Name"
                               name="last_name"
                               value="{{ data.last_name }}"
                        >
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="note" class="form-label">Note</label>
                        <textarea class="form-control" id="note"
                               placeholder="Please Enter Note"
                               name="note"
                               required
                        >{{ data.note }}</textarea>
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="source" class="form-label">Source</label>
                        <textarea class="form-control" id="source"
                               placeholder="Please Enter Source"
                               name="source"
                               required
                        >{{ data.source }}</textarea>
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="interestedIn" class="form-label">Interested In</label>
                        <select name="interested_in" id="interestedIn" class="form-select" required>
                            <option value="">Select Interest</option>
                            {% for interest in interested_in %}
                                {% if interest.1 == data.interested_in %}
                                    <option value="{{ interest.0 }}" selected>{{ interest.1 }}</option>
                                {% else %}
                            	    <option value="{{ interest.0 }}">{{ interest.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="status" class="form-label">Status</label>
                        <select name="status" id="status" class="form-select" required>
                            <option value="">Select Status</option>
                            {% for st in status %}
                                {% if st.1 == data.status %}
                                    <option value="{{ st.0 }}" selected>{{ st.1 }}</option>
                                {% else %}
                            	    <option value="{{ st.0 }}">{{ st.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12 d-flex card-header align-items-center justify-content-end flex-column flex-md-row gap-2">
                        <a href="{% url 'leads' %}" class="btn btn-outline-primary">
                            <span class="tf-icons bx bx-window-close bx-18px me-2"></span>Cancel
                        </a>
                        <button type="submit" class="btn btn-outline-primary">
                            <span class="tf-icons bx bx-save bx-18px me-2"></span>Save
                        </button>
                    </div>
                </div>
            </form>
            {% if activities %}
                <div>
                    <h5 class="card-title py-3">
                        Lead Activities
                    </h5>
                    <ul class="timeline mb-0">
                        {% for activity in activities %}
                            <li class="timeline-item timeline-item-transparent">
                                <span class="timeline-point timeline-point-primary"></span>
                                <div class="timeline-event">
                                    <div class="timeline-header mb-3">
                                        <h6 class="mb-0">{{ activity.activity_type|default_if_none:"Follow Up" }}</h6>
                                        <small class="text-muted">{{ activity.created_at }}</small>
                                    </div>
                                    <p class="mb-2">
                                        {{ activity.message }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="d-flex justify-content-end">
                        <a class="link-primary text-decoration-underline cursor-pointer" href="{% url 'leads_activity_list' pk=data.id %}">See More Activity</a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% include "lead/activity-modal.html" with lead_id=data.id %}
    </div>
{% endblock %}



