.lanuching_modal_bg {
  /* background: linear-gradient(
    88deg,
    #ffa37b -11.16%,
    #fa6bbe 46.95%,
    #732bf7 94.89%
  ); */

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: white;
  border: 1px solid white !important;
  border-radius: 0.5rem !important;
}

.offer_btn {
  padding: 0.7rem 3rem;
  border: none;
  outline: none;
  z-index: 1;
  border-radius: 0.5rem;
  background: linear-gradient(
    88deg,
    #ffa37b -11.16%,
    #fa6bbe 46.95%,
    #732bf7 94.89%
  );
  color: white;
}

.offer_button_container {
  position: fixed;
  right: 0%;
  top: 20%;
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .offer_button_container {
    right: -15%;
  }
}
