/* src/components/AboutUsTyping.module.css */
.cursor {
  font-weight: 500;
  color: #ff007a; /* You can change the cursor color */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}