{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static  'vendor/css/pages/page-auth.css' %}">
    <link rel="stylesheet" href="{% static  'css/login-page.css' %}">
{% endblock page_css %}

{% block page_js %}
{% endblock page_js %}


{% block content %}
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh">

        <div class="card w-75 p-4">
            <div class="card-header">
                <div class="app-brand-text demo menu-text text-center"
                     style='font-size: 2rem'>
                    <img src="{% static 'img/avatars/bot-logo-white.png' %}" style="background: black;
    width: 15vw;" alt="{% get_theme_variables 'template_name' %}">

                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ uuid }}">
                            <div>
                                <label for="emailId" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailId"
                                       placeholder="Please Enter Email"
                                       name="email"
                                       required
                                       value="{{ email }}"
                                >
                            </div>
                            <div class="py-3 fs-5">
                                Are you sure want to unsubscribe email list ?
                            </div>
                            <div class="d-flex justify-content-end py-3">
                                <button type="submit" class="btn btn-outline-primary">
                                    <span class="tf-icons bx bx-unlink bx-18px me-2"></span>Un Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
