@import "tailwindcss";
.bot-body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: var(--font-geist-sans) !important;
  background-color: black  !important;
  
}
.bot-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans);
  background-color: transparent !important;
  width: 100%;
  overflow-x: hidden;
}
