{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Edit New Item{% endblock %}

{% block vendor_css %}
    {{ block.super }}
{% endblock vendor_css %}

{% block vendor_js %}
    {{ block.super }}
{% endblock vendor_js %}

{% block page_js %}
    {{ block.super }}
{% endblock page_js %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="head-label text-center">
                <h5 class="card-title mb-0">Edit Item</h5>
            </div>
        </div>
        <div class="card-body">
            <form onsubmit="startLoad()" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{ request.user.id }}" name="updated_by">
                <input type="hidden" value="{{ data.created_by.id }}" name="created_by">
                <div class='row'>
                    <div class="col-md-6 py-2">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name"
                               placeholder="Please Enter Name"
                               name="name"
                               required
                               value="{{ data.name }}"
                        >
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="code" class="form-label">Code</label>
                        <input type="text" class="form-control" id="code"
                               placeholder="Please Enter Item Code"
                               name="code"
                               value="{{ data.code }}"
                        >
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="hsn_code" class="form-label">Hsn Code</label>
                        <input type="text" class="form-control" id="hsn_code"
                               placeholder="Please Enter Item Hsn Code"
                               name="hsn_code"
                               value="{{ data.hsn_code }}"
                        >
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" name="description">{{ data.description }}</textarea>
                    </div>
                    {% for meta_data_obj in data.meta_data %}
                        <div class="col-md-6 py-2">
                            <label for="{{ meta_data_obj.name }}" class="form-label">{{ meta_data_obj.title }}</label>
                            <input type="{{ meta_data_obj.type }}" class="form-control" id="{{ meta_data_obj.name }}"
                                   placeholder="Please Enter {{ meta_data_obj.title }}"
                                   name="{{ meta_data_obj.name }}"
                                   value="{{ meta_data_obj.value }}"
                            >
                        </div>
                    {% endfor %}
                    <div class="col-md-4 py-2">
                        <label for="taxTemplate" class="form-label">Tax Template</label>
                        <select name="tax_template" id="taxTemplate" class="form-select">
                            <option value="">Select Tax Template</option>
                            {% for template in templates %}
                                {% if template.id == data.tax_template.id %}
                            	    <option value="{{ template.id }}" selected>{{ template.name }}</option>
                                {% else %}
                            	    <option value="{{ template.id }}">{{ template.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 py-2">
                        <label for="company" class="form-label">Company</label>
                        <select name="company" id="company" class="form-select" required>
                            {% for company in companies %}
                                {% if data.company.id == company.id %}
                            	    <option value="{{ company.id }}" selected>{{ company.name }}</option>
                                {% else %}
                            	    <option value="{{ company.id }}">{{ company.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 py-2">
                        <label for="igstTaxTemplate" class="form-label">IGST Tax Template</label>
                        <select name="igst_tax_template" id="igstTaxTemplate" class="form-select">
                            <option value="">Select IGST Tax Template</option>
                            {% for template in templates %}
                                {% if template.id == data.igst_tax_template.id %}
                            	    <option value="{{ template.id }}" selected>{{ template.name }}</option>
                                {% else %}
                            	    <option value="{{ template.id }}">{{ template.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="itemImage" class="form-label">Item Thumbnail</label>
                        <input class="form-control" name="image" type="file" id="itemImage">
                        {% if data.image %}
                            <div class="text-end py-2">
                                <a  href="{{ data.image.url }}" target="_blank">View Image</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 py-2">
                        <label for="itemImages" class="form-label">Item Gallery Images</label>
                        <input class="form-control" name="item_images" type="file" id="itemImages" multiple>
{#                        {% if data.item_images %}#}
{#                            <div class="text-end py-2">#}
{#                                <a  href="{{ data.image.url }}" target="_blank">View Image</a>#}
{#                            </div>#}
{#                        {% endif %}#}
                    </div>
                    <div class="col-md-4 py-2">
                        <label for="priceInRs" class="form-label">Price In Rs</label>
                        <input class="form-control" name="price_in_rs" type="number" id="priceInRs" value="{{ data.price_in_rs }}">
                    </div>
                    <div class="col-md-4 py-2">
                        <label for="priceInDollar" class="form-label">Price In Dollar</label>
                        <input class="form-control" name="price_in_dollar" type="number" id="priceInDollar" value="{{ data.price_in_dollar }}">
                    </div>
                <div class="col-md-4 py-2">
                    <div class="form-check mt-4">
                        {% if data.status %}
                            <input class="form-check-input" type="checkbox" name="status" id="status" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" name="status" id="status">
                        {% endif %}
                        <label class="form-check-label" for="status">
                          Active / Inactive
                        </label>
                    </div>
                </div>

                    <div class="col-md-12 d-flex align-items-center justify-content-end flex-column flex-md-row gap-2 py-2">
                        <button type="button" class="btn btn-outline-primary" onclick="history.back()">
                            <span class="tf-icons bx bx-window-close bx-18px me-2"></span>Cancel
                        </button>
                        <button type="submit" class="btn btn-outline-primary">
                            <span class="tf-icons bx bx-save bx-18px me-2"></span>Save
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center  gap-0 py-1 px-1 my-2">

                <div class="col-md-12 overflow-auto flex-nowrap d-flex align-items-center" style="height: auto">
                     {% for item_image in item_images %}
                        <div class="cursor-pointer w-auto px-2 position-relative" style="height: auto">
                            <img src="{{ item_image.image.url }}" style="height: auto; width: 10vw;margin: 0 auto;" alt="Preview-Gallery">
{#                            <span class="tf-icons bx bx-trash-alt text-danger position-absolute start-50 top-50"></span>#}
                            <a href="{% url 'delete' model_name='ItemImages' app_name='erp' %}?id={{ item_image.id }}&redirect=/accounts/item/edit/{{ data.encrypt }}" class="btn btn-danger btn-sm position-absolute end-0 top-0">
                                <span class="tf-icons bx bx-trash-alt me-2"></span>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}